.counter{
    color:gold;
    text-decoration: none;
}


.divcont{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 60px;
    text-decoration: none;
}

button{
    margin-left: 10px;
    display: inline;
    color: black;
    padding: 10px;
    margin: 10px;
    width: 180px;
    border: 3px solid gold;
    border-radius: 25px;
    text-decoration: none;
}

button:hover{
    animation: pulsate 2s ease-in-out;
    text-decoration: none;
}

@keyframes pulsate {
    0%{
        box-shadow:
        0 0 40px gold,
        0 0 60px black;
    }
}
