.product-img{
    width: 450px;
}


.product-detail-title{
    color: goldenrod;

}

.product-detail-detail{
        color: goldenrod;

}

.finishbutton{
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 4px;
    margin: 15px;
}

.detail{
    display: flex;
    justify-content: center;
    font-size: 25px;
}

