.nav-name{
    text-decoration: none;
    color: gold;
    font-size: 30px;
    font-style: italic;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: flex-start
}

.navbackground{
    background: linear-gradient(to left, gold , black);
}


.nav-text{
    font-size: 23px;
    color: goldenrod;
    font-style: italic;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    -webkit-text-stroke: 1px black;

}

.droptitle{
    font-size: 18px;
    color: black;
    -webkit-text-stroke: 0.2px gold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

.dropdownmenu{
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    border: 2px solid whitesmoke;
}