body{
    margin: 40px;
    background-color: black;
}


img{
width: 120px;
height: 120px;
}

.logo{
        display: flex;
    justify-content: center;
}

.navbar{
    margin:100px;
    padding: 10px;
    border-radius: 20px;
}


