body{
    margin: 40px;
    background-color: black;
}

h1{
    color: goldenrod;
    font-style: italic;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 50px;
}


img{
width: 120px;
height: 120px;
}

.logo{
        display: flex;
    justify-content: center;
}

.navbar{
    margin:100px;
    padding: 10px;
    border-radius: 20px;
}


